<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body {background-color: powderblue;font-family: courier;font-size: 280%;}

</style>
</head>
<body>
<p th:text="'Το ticket ' + ${IM}+' '+${COMMENT}" />
</body>
</html>